* {
	box-sizing: border-box;
	outline: none !important;
	user-select: none;
	touch-action: manipulation;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}
*:not(.material-icons) {
	font-family: sans-serif;
}
:root {
	--color-primary: #1f75fe;
	--color-accent: #00fa9a;
}
img, svg {
	-webkit-user-drag: none;
	user-drag: none;
}
main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
mark {
	background: unset;
	margin-bottom: .5em;
}
mark header {
	width: min(40vw, 40vh);
	height: min(4vw, 4vh);
	border-radius: .75em;
	background-color: var(--color-primary);
}
mark span {
	position: relative;
	display: block;
	width: 60%;
	aspect-ratio: 1/1;
	margin: 0 auto;
	background-color: rgba(150, 150, 150, 0.5);
	overflow: hidden;
	z-index: 2;
}
mark span:before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	height: var(--h);
	z-index: 0;
	opacity: 0;
	background-color: var(--color-accent);
	transition: all 250ms ease-in-out;
}
mark span:first-of-type {
  border-radius: 0 0 50% 50%;
}
mark span:last-of-type {
  border-radius: 50% 50% 0 0;
}
mark span:last-of-type:after {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 50%;
	width: min(1vw, 1vh);
	z-index: 0;
	background-color: var(--color-accent);
	transform: translateX(-50%);
	transition: all 250ms ease-in-out;
	opacity: 0;
}
mark span:last-of-type div {
	position: absolute;
	left: 50%;
	bottom: calc(var(--h) - 1px);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 min(2vw, 2vh) min(2vw, 2vh) min(2vw, 2vh);
	border-color: transparent transparent var(--color-accent) transparent;
	transition: opacity 250ms ease-in-out, bottom 250ms ease-in-out;
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
}
mark.started span:before, mark.started span:last-of-type:after, mark.started span:last-of-type div {
	visibility: visible;
	opacity: 1;
}
mark.exceeded {
	animation: shake 1s linear infinite;
}
mark.exceeded span:before, mark.exceeded span:last-of-type::after {
	background-color: #ff0028;
}
section {
	text-align: center;
	font-size: 2em;
	margin-bottom: .5em;
	width: 100%;
	transition: color 250ms ease-in-out;
}
section.exceeded {
	color: #ff0028;
	font-weight: bold;
}
footer {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 50%;
	bottom: calc(env(safe-area-inset-bottom, 0) + 1em);
	transform: translateX(-50%);
}
input {
	border-radius: 6px;
	margin-right: .5em;
	font-size: 1.75em;
	width: 3.5em;
	line-height: 0;
	text-align: right;
	border: none;
}
input:disabled {
	-webkit-user-drag: none;
	-webkit-user-select: none;
	user-select: none;
	pointer-events: none;
	user-drag: none;
}
button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3em;
	border-radius: 6px;
	background-color: var(--color-primary);
	border: none;
	cursor: pointer;
	overflow: hidden;
}
button .material-icons {
	font-size: 2.5em !important;
}
button :before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.25);
	opacity: 0;
}
button:hover :before {
	animation: fadein 250ms ease-in-out forwards;
}
button:not(:hover) :before {
	animation: fadeout 250ms ease-in-out forwards;
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: #121212;
	}
	section, input {
		color: #fff;
	}
	input {
		background-color: rgba(255,255,255,0.1);
	}
}
@media (prefers-color-scheme: light) {
	section, input {
		color: #333;
	}
	input {
		background-color: rgba(0,0,0,0.1);
	}
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes shake {
	0% {
		transform: rotate(-5deg);
	}
	5.5% {
		transform: rotate(5deg);
	}
	11% {
		transform: rotate(0deg);
	}
	16.5% {
		transform: rotate(-5deg);
	}
	22% {
		transform: rotate(5deg);
	}
	27.5% {
		transform: rotate(-5deg);
	}
	38.5% {
		transform: rotate(5deg);
	}
	44% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(0deg);
	}
}